/* General Styling */
body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, .card-body>h5 {
font-family: "Lobster", cursive;
}

h2 {
  color: #3046C5;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

/* Footer */
.site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0;
}


/* Header - Navbar & Jumbo */
.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
  color: white;
}

.jumbotron h2 {
  color: #CEC8FF;
}

.navbar-dark {
  background-color: #901CAD;
}


/* Transitions */
.page-enter {
  opacity: 0; /* FADE */
  /* Slide in/out transition */
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1; /* FADE */
  /* Slide in/out transition */
  transform: translateX(0%);
  transition: 300ms ease-out;
}
.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-out;
}

.box {
  position: relative;
}

.box-entered{
  color: red;
}

.box-entering{
  animation-name: box;
  animation-duration: 4s;
}
@keyframes box {
  0% {color: purple; left: 0px; top: 0px;}
  0% {color: indigo; left: 200px; top: 0px;}
  0% {color: teal; left: 200px; top: 200px;}
  0% {color: blue; left: 0px; top: 200px;}
  0% {color: purple; left: 0px; top: 0px;}
}